.container{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.card{
  margin-top: 5px;
 width: 400px;
 height:450px ;
}
.btn{
  background-color: rgba(56, 54, 54, 0.555);
  position: absolute;
  top:400px;
}
.imge{
  width: 300px;
  height: 250px;
}